/node_modules
/public/hot
/public/storage
/public/buktitf/
/public/file_ticket/
/public/inventory/
/public/dokumen/
/public/pdf/
/storage/*.key
/vendor
/config/oracle.php
composer.json
composer.lock
package-lock.json
package.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
